@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

body {

  overflow-x: hidden;
  height: fit-content;
  background-color:  #1D0F2F;
}

#cap6 {
  filter: blur(1.5px);
}

#sun {
  filter: blur(2px);
}

#cap5 {
  filter: blur(1px);
}

#skyDay {
  width: 100vw;
  height: 100vh;

  position: absolute;

  left: 0%;
  top: 0%;
  transition: all 1s;
  background-color: #FEC3B0;
}

#sun {

  width: 100px;
  height: 100px;

  border-radius: 50%;
  background-color: white;
  position: absolute;

  top: 25%;
  right: 20%;
  transition: all 0.3s;
}

img {

  position: absolute;

  width: 100vw;
  height: 100vh;
  left: 0%;
  top: 0%;
  transition: all 0.3s;
  min-height: 500px;
  
}


#skyNight {
  position: absolute;

  width: 100vw;
  height: 150vh;
  left: 0%;
  top: 100%;
  background-color: #1D0F2F;
  transition: all 0.3s;
  
  min-height: 500px;
}

#dayText {

  font-size: 4dvw;
  position: absolute;
  left: 5%;
  top: 30%;

  color: white;

  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
  animation: floating 3s infinite;
}

@keyframes floating {

  0% {

    transform: translateY(0%);
  }

  50% {

    transform: translateY(20%);
  }

  100% {

    transform: translateY(0%);
  }

}




#cap1n {
  top: 30%;
}


#helper{
  
  position: absolute;

  width: 100vw;
  height: 50vh;
  left: 0%;
  top: 130%;
  transition: all 0.3s; 
  
  background-color: red;
  
}


#cap2n {
  top: 80%;
}

#cap3n {
  top: 100%;
}

#cap4n {
  top: 130%;
}

#cap5n {
  top: 150%;
  filter: blur(1px);
}

#cap6n {
  top: 200%;
  filter: blur(1.5px);
}    



#moon {

  width: 100px;
  height: 100px;

  border-radius: 50%;
  background-color: white;
  position: absolute;

  top: 140%;
  left: 0%;
  transition: all 0.3s;

  filter: blur(2px);
}


#nightText {

  font-size: 4dvw;
  position: absolute;
  left: 5%;
  top: 150%;

  color: white;

  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
  animation: floating 3s infinite;
}